<header class="header py-3 mb-5">
  <div class="header__container container">
    <div class="row align-items-center">
      <div class="col-sm-2 col-xs-12 text-center text-lg-start">
        <a href="#" class="header__link">
          <img loading="lazy" src="/img/logo.svg" class="header__logo" width="" height="" alt="logo">
        </a>
      </div>
      <div class="col-sm-10 d-none d-sm-block">
        <form action="#" class="header__form form form-inline">
          <label for="searchInput"></label><input type="text" class="form__input form__control p-2 w-75" id="searchInput" placeholder="Введите запрос">
        </form>
      </div>
    </div>
  </div>
</header>
